<html>
  <head>
    <link rel="stylesheet" href="css/docs.css">
    <link rel="stylesheet" href="css/syntax.css">
    <link rel="stylesheet" href="css/grid.css">
  </head>
  <body>
    <img src="https://camo.githubusercontent.com/5d417873a11d7175ec40fc3af3c6cb024a531dd7/68747470733a2f2f676574626f6f7473747261702e636f6d2f6173736574732f6272616e642f626f6f7473747261702d736f6c69642e737667" alt="" width="72" height="72" data-canonical-src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" style="max-width: 100%; margin-bottom: 1.5rem;">

    {{ content }}
  </body>
</html>
